﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.container .jumbotron {
  padding: 10px 40px 20px 40px;
  background-color: #e0e0ff;
}
/*Add another color*/
.container .jumbotron .btn {
    background-color: darkred;
    border-color: #cc9999;
}

/* Make the button in the first paragraph green */
.container .jumbotron .btn {
    background-color: darkred;
    border-color: red;
}

.container h1 {
  font-size: 42px;
}

.title {
  padding: 10px 30px 10px 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
}

.title h1 {
  line-height: 1;
  color: inherit;
  font-size: 63px;
}

.title {
  border-radius: 6px;
}

.sectionheader {
  padding: 0 15px 0 15px;
  margin-bottom: -15px;
}

.sectionheader h2 {
  border-bottom: solid 1px #cccccc;
  font-size: 32px;
  color: #428bca;
}

.btn-default {
    background-color: #bbbbbb;
}
